<h2>Dine filtre</h2>

<md-list>
  <md-list-item *ngFor="let filter of filters; let i=index">
    <a (click)="remove(i)"><md-icon md-list-icon>delete</md-icon></a>
    <div md-line>
      <md-input-container>
        <input mdInput placeholder="Filter titel" [(ngModel)]="filter.title" />
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Filter ID" [(ngModel)]="filter.id" />
      </md-input-container>
    </div>
  </md-list-item>
</md-list>


  <button md-raised-button color="primary" (click)="add()">Ny</button>
  <button md-raised-button color="primary" (click)="save()">Gem</button>