
  <md-toolbar color="dark">

    <span class="network">
      <i class="material-icons network__sync">sync</i>
      <span class="network-status network-status_online" [hidden]="!online">Online</span>
      <span class="network-status" [hidden]="online">Offline</span>
    </span>

    <span class="app-toolbar-filler fill-remaining-space"></span>

    <a><i class="material-icons" (click)="openWeekGraph()">equalizer</i></a>

    <span class="app-toolbar-filler fill-remaining-space"></span>

    <div [hidden]="!trackingService.track.active">
      <span [hidden]="trackingService.currentTracking.jiraId === ''">{{trackingService.currentTracking.jiraId}}</span>
      <span [hidden]="trackingService.currentTracking.jiraId !== ''">Ingen Jira case</span>
      <br />
      <span class="blink_me">{{trackingService.track.total | formatTime}}</span><br />    
    </div>

  </md-toolbar>
