<md-toolbar color="dark">
	<span class="network">
		<a class="material-icons network__sync" [ngClass]="{'network__sync--updating':synchronizing}" (click)="synchronize()">sync</a>
		<span class="network-status network-status_{{status}}" title="{{status}}"></span>
	</span>

	<span class="app-toolbar-filler fill-remaining-space"></span>

	<!-- temporary for testing -->
	<a><i class="material-icons" (click)="testFunction($event)">adjust</i></a>
	<!-- temporary for testing -->

	<a><i class="material-icons" (click)="openWeekGraph()">equalizer</i></a>
	<a><i class="material-icons" (click)="openJiraFilterAdmin()">favorite</i></a>
</md-toolbar>
