.fill-remaining-space {
	margin: auto;
}

.network {
	text-align: center;
}

.network__sync {
	user-select: none;
	font-size:18px;
	cursor:pointer;
	color:#666;
	vertical-align: middle;
	
	&--updating {
		animation: network-sync 1s infinite;
	}
	&--success {
		animation: network-sync-success 15s;
	}
	&--fail {
		animation: network-sync-fail 15s;
	}
}

.network-status {
	letter-spacing:1px;
	font-weight: normal;
	text-transform: none;
	width:10px;
	height:10px;
	border-radius:50%;
	background-color:orange;
	display: inline-block;
	margin: 0 10px;
	vertical-align: middle;

	&_online {
		background-color:#94C11E;
	}
}
/* Anitmation */
@keyframes network-sync {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}
@keyframes network-sync-success {
	from {		
		color: green;
	}
	to {		
		color:initial;
	}
}
@keyframes network-sync-fail {
	from {		
		color: red;
	}
	to {		
		color:initial;
	}
}