$not-valid: rgba(#d05921, 0.3);
$playing: #94C11E;

:host {
	margin-bottom: 1px;
	position: relative;
	display: block;
	padding: 25px 25px 25px 90px;
	box-sizing: border-box;

	&:hover {
		.actions {
			opacity: 1;
		}
	}
}

.info-container {
	display: flex;
	flex-direction: row;
}

.info-content {
	flex-grow: 1;
	padding-right: 50px;
}

.info-aside {
	align-self: center;
	display: flex;
	flex-direction: column;
	align-self: stretch;
}

.title {
	color:#999;
	font-size: 11px;
	padding-top: 5px;
	font-weight: normal;
}

.jira-id {
	font-size: 25px;
	font-weight: bold;
	cursor:pointer;
	margin-bottom: 5px;

	strong {
		display: block;
		line-height: 1;
	}

	&_not-set {
		font-weight: normal;
		color: #333;;
		font-size: 20px;
		font-style: italic;
		bottom: 5px;
	}
}

.comment-input {
	width: 100%;
	padding: 7px 10px;
	border-radius: 4px;
	outline: none;
	border: 1px solid rgba(#000, 0.15);
	&:not(:focus) {
		border-color: transparent;
	}

	&:focus {
		border: 1px solid rgba(#000, 0.15);
	}

	&:hover {
		border-color: rgba(#000, 0.1);
	}

	&_not-valid {
		// border: 1px solid $not-valid;
	}
}

.time {
	font-size: 30px;
	font-weight: bold;
	cursor:pointer;
}

.actions {
	margin-top: auto;
	margin-left: auto;
	opacity: 0;
	transition: opacity 0.3s;

	&_icon {
		font-size: 18px;
	}

	a {
		display: inline-block;
		opacity: 0.3;
		transition: opacity 0.3s;

		&:hover {
			opacity: 0.7;
		}
	}
}


.state-button {
	display: block;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 75px;
	height: 100%;
	padding: 10px;
	color:#e2e2e2;
	cursor:pointer;
	background-color: transparent;
	border:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	border-radius:0;
	outline:none;

	span {
		display: block;
		transition: 0.3s transform, 0.3s color;
	}

	i {
		font-size: 50px;
	}

	&__playing {
		span {
			color: $playing;
		}
	}

	&:hover {
		span {
			color: $playing;
			transform: scale(1.2);
		}
	}
}
