<app-header></app-header>

<div class="date-navigation">
  <button md-raised-button color="primary" (click)="changeDay(false)">< Forrige</button>
  <a (click)="gotoCurrentDate()">{{selectedDay | date:'fullDate'}}</a>
  <button md-raised-button color="primary" (click)="changeDay(true)">Næste ></button>
</div>

<div class="trackings">
  <div class="tracking" *ngFor="let tracking of trackings | filterDate:selectedDay">

    <a class="state-button" 
      [class.state-button__playing]="tracking.id === trackingService.currentTracking.id" 
      (click)="toggleTracking(tracking.id, tracking.id !== trackingService.currentTracking.id)">
        <span [hidden]="tracking.id !== trackingService.currentTracking.id">stop</span>
        <span [hidden]="tracking.id === trackingService.currentTracking.id">start</span>
    </a>

    <div class=tracking__info-container>     

      <div class="tracking__title">
        {{tracking.title}}
      </div>

      <div class="tracking__jira-id" [class.tracking__jira-id_not-set]="tracking.jiraId === ''" (click)="openSelectJiraIdDialog(tracking)">
        <span [hidden]="tracking.jiraId === ''" >{{tracking.jiraId}}</span>
        <span [hidden]="tracking.jiraId !== ''" >JIRA CASE</span>
      </div>

      <div class="tracking__comment">
        <input class="tracking__comment-input" [class.tracking__comment-input_not-valid]="tracking.comment === ''" [(ngModel)]="tracking.comment" (keyup)="commentPress($event, tracking)" />
      </div>

      <div class="tracking__time" (dblclick)="openChangeTimeDialog(tracking)" [class.blink_me]="tracking.id === trackingService.currentTracking.id">
        {{tracking.time | formatTime}}
      </div>

      <div class="tracking__actions">
        <a><i class="material-icons tracking__actions_icon">star</i></a>
        <a [hidden]="tracking.jiraId === ''" href="https://jira.impact.dk/browse/{{tracking.jiraId}}" target="_blank"><i class="material-icons tracking__actions_icon">launch</i></a>
        <a (click)="deleteTracking(tracking.id)"><i class="material-icons tracking__actions_icon">delete</i></a>
      </div>

    </div>

  </div>

</div>

<div class="bottom-action-container">
  <button md-raised-button color="primary" (click)="addNewTracking()">Start ny registrering</button>
</div>
