<div class="jira-header">
  Valgt Jira ID:
  <span [hidden]="tracking.jiraId === ''">{{tracking.jiraId}}</span>
  <span [hidden]="tracking.jiraId !== ''">Intet valgt</span>
</div>

<md-input-container>
  <input mdInput placeholder="Find Jira Case" (keyup)="searchFieldChange()" [(ngModel)]="searchTerm">
</md-input-container>

<div [hidden]="searchTerm === ''">
      <div *ngFor="let item of searchResult" class="jira-item" (click)="clickJiraCase(item)">
        <b>{{item.jiraId}}</b> - {{item.title}}
      </div>
</div>

<div [hidden]="searchTerm !== ''">

  <md-tab-group>
    <!--<md-tab label="Favoritter">
      <div *ngFor="let item of favorites" class="jira-item" (click)="clickJiraCase(item)">
        <b>{{item.jiraId}}</b> - {{item.title}}
      </div>
    </md-tab>-->
    
    <md-tab label="Assignet til mig">
      <div *ngFor="let item of assignedToMe" class="jira-item" (click)="clickJiraCase(item)">
        <b>{{item.jiraId}}</b> - {{item.title}}
      </div>
    </md-tab>
  </md-tab-group>
</div>