@import '~@angular/material/_theming';

@include mat-core();

$candy-app-dark: mat-palette($mat-grey, 200, 300, 800);
$candy-app-primary:  mat-palette($mat-yellow, 200, 300, 800);

$candy-app-warn: mat-palette($mat-red);

$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-dark, $candy-app-warn);

@include angular-material-theme($candy-app-theme);

.mat-toolbar {
  background-color: white;
  color:#ccc;
}

@keyframes blinker {  
  30% { opacity: 1; }
  50% { opacity: 0; }
  70% { opacity: 1; }
}

a {
  cursor:pointer;
}

.blink_me {
  animation: blinker 2s linear infinite;
}